<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Social_Login</title>
</head>
<body bgcolor="#7fffd4">
        <div align="center" ><br/><br/><br/><br/><br/><br/><br/><br/>
        <a href='https://accounts.google.com/o/oauth2/v2/auth?scope=https://mail.google.com/&access_type=offline&include_granted_scopes=true&response_type=code&state=state_parameter_passthrough_value&redirect_uri=http://127.0.0.1:8000/new/&client_id=78254005171-mui42iv31t2j7s7pl0ik8ddrhdoj6v8c.apps.googleusercontent.com'
        <button type="button" name="button" class="btn btn-danger">Click this Link to LOGIN with GOOGLE</button>
        </a><br/><br/><br/><br/><br/>
        </div>
</body>
</html>